@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Baseball Stats</h1>
    <p class="lead">BaseballStats is simple app to query MLB data about players stats</p>
    <p><a href="https://appac.github.io/mlb-data-api-docs/#top" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            BaseballStats is simple app to query MLB data about players stats.
            It uses data from the MLB Data API.
        </p>
        <p><a class="btn btn-default" href="https://appac.github.io/mlb-data-api-docs/#header-getting-started">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Data for this app is pulled from the MLB Data API. More information can be found through the link below to thier documentation.</p>
        <p><a class="btn btn-default" href="https://appac.github.io/mlb-data-api-docs/#top">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pardon our dust</h2>
        <p>This application is still under development. Stay tuned for more functionality to come.</p>
        <p><a class="btn btn-default" href="https://appac.github.io/mlb-data-api-docs/#top">Learn more &raquo;</a></p>
    </div>
</div>